openapi: 3.0.1
info:
  title: Rivet API
  version: ''
paths:
  /identities/{identity_id}/thread:
    get:
      description: Returns a thread ID with a given identity.
      operationId: chat_identity_getDirectThread
      tags:
        - ChatIdentity
      parameters:
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGetDirectThreadOutput'
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: &ref_0
        - BearerAuth: []
  /auth/inspect:
    get:
      description: Returns information about the current authenticated agent.
      operationId: cloud_auth_inspect
      tags:
        - CloudAuth
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudInspectOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /devices/links:
    post:
      operationId: cloud_devices_links_prepare
      tags:
        - CloudDevicesLinks
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudDevicesPrepareDeviceLinkOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
    get:
      operationId: cloud_devices_links_get
      tags:
        - CloudDevicesLinks
      parameters:
        - name: device_link_token
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Jwt'
        - name: watch_index
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WatchQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudDevicesGetDeviceLinkOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
  /games/{game_id}/avatars:
    get:
      description: Lists custom avatars for the given game.
      operationId: cloud_games_avatars_listGameCustomAvatars
      tags:
        - CloudGamesAvatars
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesListGameCustomAvatarsOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/prepare:
    post:
      description: |-
        Prepares a custom avatar image upload.
        Complete upload with `rivet.api.cloud#CompleteCustomAvatarUpload`.
      operationId: cloud_games_avatars_prepareCustomAvatarUpload
      tags:
        - CloudGamesAvatars
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesPrepareCustomAvatarUploadOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesPrepareCustomAvatarUploadInput'
  /games/{game_id}/avatar-upload/{upload_id}/complete:
    post:
      description: >-
        Completes a custom avatar image upload. Must be called after the file
        upload process completes.
      operationId: cloud_games_avatars_completeCustomAvatarUpload
      tags:
        - CloudGamesAvatars
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: upload_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/builds:
    get:
      description: Lists game builds for the given game.
      operationId: cloud_games_builds_listGameBuilds
      tags:
        - CloudGamesBuilds
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesListGameBuildsOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
    post:
      description: Creates a new game build for the given game.
      operationId: cloud_games_builds_createGameBuild
      tags:
        - CloudGamesBuilds
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesCreateGameBuildOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesCreateGameBuildInput'
  /games/{game_id}/cdn/sites:
    get:
      description: Lists CDN sites for a game.
      operationId: cloud_games_cdn_listGameCdnSites
      tags:
        - CloudGamesCdn
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesListGameCdnSitesOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
    post:
      description: Creates a new CDN site for the given game.
      operationId: cloud_games_cdn_createGameCdnSite
      tags:
        - CloudGamesCdn
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesCreateGameCdnSiteOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesCreateGameCdnSiteInput'
  /games:
    get:
      description: >-
        Returns a list of games in which the current identity is a group member
        of its development team.
      operationId: cloud_games_games_getGames
      tags:
        - CloudGamesGames
      parameters:
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGetGamesOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
    post:
      description: Creates a new game.
      operationId: cloud_games_games_createGame
      tags:
        - CloudGamesGames
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesCreateGameOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesCreateGameInput'
  /games/validate:
    post:
      description: Validates information used to create a new game.
      operationId: cloud_games_games_validateGame
      tags:
        - CloudGamesGames
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesValidateGameOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesValidateGameInput'
  /games/{game_id}:
    get:
      description: Returns a game by its game id.
      operationId: cloud_games_games_getGameById
      tags:
        - CloudGamesGames
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGetGameByIdOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/banner-upload/prepare:
    post:
      description: Prepares a game banner image upload.
      operationId: cloud_games_games_gameBannerUploadPrepare
      tags:
        - CloudGamesGames
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGameBannerUploadPrepareOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesGameBannerUploadPrepareInput'
  /games/{game_id}/banner-upload/{upload_id}/complete:
    post:
      description: >-
        Completes an game banner image upload. Must be called after the file
        upload process completes.
      operationId: cloud_games_games_gameBannerUploadComplete
      tags:
        - CloudGamesGames
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: upload_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/logo-upload/prepare:
    post:
      description: Prepares a game logo image upload.
      operationId: cloud_games_games_gameLogoUploadPrepare
      tags:
        - CloudGamesGames
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGameLogoUploadPrepareOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesGameLogoUploadPrepareInput'
  /games/{game_id}/logo-upload/{upload_id}/complete:
    post:
      description: >-
        Completes a game logo image upload. Must be called after the file upload
        process completes.
      operationId: cloud_games_games_gameLogoUploadComplete
      tags:
        - CloudGamesGames
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: upload_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/matchmaker/lobbies/export-history:
    post:
      description: Exports lobby history over a given query time span.
      operationId: cloud_games_matchmaker_exportMatchmakerLobbyHistory
      tags:
        - CloudGamesMatchmaker
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesExportMatchmakerLobbyHistoryOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesExportMatchmakerLobbyHistoryInput'
  /games/{game_id}/matchmaker/lobbies/{lobby_id}:
    delete:
      description: Deletes a matchmaker lobby, stopping it immediately.
      operationId: cloud_games_matchmaker_deleteMatchmakerLobby
      tags:
        - CloudGamesMatchmaker
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: lobby_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesDeleteMatchmakerLobbyOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/matchmaker/lobbies/{lobby_id}/logs:
    get:
      description: Returns the logs for a given lobby.
      operationId: cloud_games_matchmaker_getLobbyLogs
      tags:
        - CloudGamesMatchmaker
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: lobby_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: stream
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CloudGamesLogStream'
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGetLobbyLogsOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/matchmaker/lobbies/{lobby_id}/logs/export:
    post:
      description: Generates a download URL for logs.
      operationId: cloud_games_matchmaker_exportLobbyLogs
      tags:
        - CloudGamesMatchmaker
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: lobby_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesExportLobbyLogsOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesExportLobbyLogsInput'
  /games/{game_id}/namespaces/{namespace_id}/analytics/matchmaker/live:
    get:
      description: Returns live information about all active lobies for a given namespace.
      operationId: cloud_games_namespaces_analytics_getNamespaceAnalyticsMatchmakerLive
      tags:
        - CloudGamesNamespacesAnalytics
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesGetNamespaceAnalyticsMatchmakerLiveOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/logs/lobbies:
    get:
      description: Returns a list of lobbies for the given game namespace.
      operationId: cloud_games_namespaces_logs_listNamespaceLobbies
      tags:
        - CloudGamesNamespacesLogs
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: before_create_ts
          in: query
          description: Returns lobbies created before this timestamp.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesListNamespaceLobbiesOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/logs/lobbies/{lobby_id}:
    get:
      description: Returns a lobby from the given game namespace.
      operationId: cloud_games_namespaces_logs_getNamespaceLobby
      tags:
        - CloudGamesNamespacesLogs
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: lobby_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesGetNamespaceLobbyOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/tokens/cloud:
    post:
      description: Creates a new game cloud token.
      operationId: cloud_games_tokens_createCloudToken
      tags:
        - CloudGamesTokens
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesCreateCloudTokenOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/versions:
    post:
      description: Creates a new game version.
      operationId: cloud_games_versions_createGameVersion
      tags:
        - CloudGamesVersions
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesCreateGameVersionOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesCreateGameVersionInput'
  /games/{game_id}/versions/validate:
    post:
      description: Validates information used to create a new game version.
      operationId: cloud_games_versions_validateGameVersion
      tags:
        - CloudGamesVersions
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesValidateGameVersionOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesValidateGameVersionInput'
  /games/{game_id}/versions/{version_id}:
    get:
      description: Returns a game version by its version ID.
      operationId: cloud_games_versions_getGameVersionById
      tags:
        - CloudGamesVersions
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: version_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGamesGetGameVersionByIdOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /groups/validate:
    post:
      description: Validates information used to create a new group.
      operationId: cloud_groups_validateGroup
      tags:
        - CloudGroups
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudValidateGroupOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudValidateGroupInput'
  /groups/{group_id}/billing:
    get:
      description: >-
        Returns billing information for the given group over the given query
        time span.
      operationId: cloud_groups_getGroupBilling
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: query_start
          in: query
          description: Unsigned 64 bit integer.
          required: false
          schema:
            type: number
            format: double
        - name: query_end
          in: query
          description: Unsigned 64 bit integer.
          required: false
          schema:
            type: number
            format: double
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetGroupBillingOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/billing/invoices:
    get:
      description: Returns a list of invoices for the given group.
      operationId: cloud_groups_getGroupInvoicesList
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          description: >-
            The pagination anchor. Set to the returned anchor of this endpoint
            to receive the next set of items.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Amount of invoices to return.
          required: false
          schema:
            type: number
            format: double
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetGroupInvoicesListOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/billing/payments:
    get:
      description: Returns a list of payments for the given group.
      operationId: cloud_groups_getGroupPaymentsList
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: start_payment_id
          in: query
          description: The payment ID of the payment after which to start listing.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetGroupPaymentsListOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/billing/transfers:
    get:
      description: Returns a list of bank transfers for the given group.
      operationId: cloud_groups_getGroupTransfersList
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: start_transfer_id
          in: query
          description: The transfer ID of the transfer after which to start listing.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetGroupTransfersListOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/checkout:
    post:
      description: Creates a checkout session for the given group.
      operationId: cloud_groups_groupBillingCheckout
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGroupBillingCheckoutOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGroupBillingCheckoutInput'
  /groups/{group_id}/convert:
    post:
      description: Converts the given group into a developer group.
      operationId: cloud_groups_convertGroup
      tags:
        - CloudGroups
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /rays/{ray_id}/perf:
    get:
      description: Returns performance information about a Rivet Ray.
      operationId: cloud_logs_getRayPerfLogs
      tags:
        - CloudLogs
      parameters:
        - name: ray_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetRayPerfLogsOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /region-tiers:
    get:
      description: Returns all available region tiers.
      operationId: cloud_tiers_getRegionTiers
      tags:
        - CloudTiers
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudGetRegionTiersOutput'
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /uploads/{upload_id}/complete:
    post:
      description: Marks an upload as complete.
      operationId: cloud_uploads_completeUpload
      tags:
        - CloudUploads
      parameters:
        - name: upload_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /invites/{group_invite_code}:
    get:
      description: >-
        Inspects a group invite returning information about the team that
        created it.
      operationId: group_invites_getInvite
      tags:
        - GroupInvites
      parameters:
        - name: group_invite_code
          in: path
          description: Provided by `rivet.api.group#CreateInviteOutput$code`.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetInviteOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /invites/{group_invite_code}/consume:
    post:
      description: Consumes a group invite to join a group.
      operationId: group_invites_consumeInvite
      tags:
        - GroupInvites
      parameters:
        - name: group_invite_code
          in: path
          description: Provided by `rivet.api.group#CreateInviteOutput$code`.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupConsumeInviteOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/invites:
    post:
      description: >-
        Creates a group invite. Can be shared with other identities to let them
        join this group.
      operationId: group_invites_createInvite
      tags:
        - GroupInvites
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreateInviteOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateInviteInput'
  /groups/{group_id}/join-request:
    post:
      description: Requests to join a group.
      operationId: group_joinRequests_createJoinRequest
      tags:
        - GroupJoinRequests
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/join-request/{identity_id}:
    post:
      description: Resolves a join request for a given group.
      operationId: group_joinRequests_resolveJoinRequest
      tags:
        - GroupJoinRequests
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupResolveJoinRequestInput'
  /events/live:
    get:
      description: Returns all events relative to the current identity.
      operationId: identity_events_watch
      tags:
        - IdentityEvents
      parameters:
        - name: watch_index
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WatchQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityWatchEventsOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /game-links:
    post:
      description: >
        Begins the process for linking an identity with the Rivet Hub.

        # Importance of Linking Identities

        When an identity is created via `rivet.api.identity#SetupIdentity`, the
        identity is temporary

        and is not shared with other games the user plays.

        In order to make the identity permanent and synchronize the identity
        with

        other games, the identity must be linked with the hub.

        # Linking Process

        The linking process works by opening `identity_link_url` in a browser
        then polling

        `rivet.api.identity#GetGameLink` to wait for it to complete.

        This is designed to be as flexible as possible so `identity_link_url`
        can be opened

        on any device. For example, when playing a console game, the user can
        scan a

        QR code for `identity_link_url` to authenticate on their phone.
      operationId: identity_links_prepare
      tags:
        - IdentityLinks
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityPrepareGameLinkOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
    get:
      description: >-
        Returns the current status of a linking process. Once `status` is
        `complete`, the identity's profile should be fetched again since they
        may have switched accounts.
      operationId: identity_links_get
      tags:
        - IdentityLinks
      parameters:
        - name: identity_link_token
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Jwt'
        - name: watch_index
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WatchQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetGameLinkOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /entries/batch:
    get:
      description: Gets multiple key-value entries by key(s).
      operationId: kv_batch_getBatch
      tags:
        - KvBatch
      parameters:
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
        - name: namespace_id
          in: query
          description: A universally unique identifier.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KvGetBatchOutput'
      servers:
        - url: https://kv.api.rivet.gg/v1
      security: *ref_0
    put:
      description: Puts (sets or overwrites) multiple key-value entries by key(s).
      operationId: kv_batch_putBatch
      tags:
        - KvBatch
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://kv.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KvPutBatchInput'
    delete:
      description: Deletes multiple key-value entries by key(s).
      operationId: kv_batch_deleteBatch
      tags:
        - KvBatch
      parameters:
        - name: namespace_id
          in: query
          description: A universally unique identifier.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://kv.api.rivet.gg/v1
      security: *ref_0
  /lobbies/ready:
    post:
      description: >-
        Marks the current lobby as ready to accept connections.  Players will
        not be able to connect to this lobby until the  lobby is flagged as
        ready.
      operationId: matchmaker_lobbies_ready
      tags:
        - MatchmakerLobbies
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
  /lobbies/closed:
    put:
      description: >
        If `is_closed` is `true`, players will be prevented from joining the
        lobby.

        Does not shutdown the lobby.
      operationId: matchmaker_lobbies_setClosed
      tags:
        - MatchmakerLobbies
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_closed:
                  type: boolean
              required:
                - is_closed
  /lobbies/find:
    post:
      description: |
        Finds a lobby based on the given criteria.
        If a lobby is not found and `prevent_auto_create_lobby` is `true`, 
        a new lobby will be created.
      operationId: matchmaker_lobbies_find
      tags:
        - MatchmakerLobbies
      parameters:
        - name: origin
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchmakerFindLobbyOutput'
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                game_modes:
                  type: array
                  items:
                    type: string
                regions:
                  type: array
                  items:
                    type: string
                prevent_auto_create_lobby:
                  type: boolean
                captcha:
                  $ref: '#/components/schemas/CaptchaConfig'
              required:
                - game_modes
  /lobbies/join:
    post:
      description: |
        Joins a specific lobby.
        This request will use the direct player count configured for the
        lobby group.
      operationId: matchmaker_lobbies_join
      tags:
        - MatchmakerLobbies
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchmakerJoinLobbyOutput'
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lobby_id:
                  type: string
                captcha:
                  $ref: '#/components/schemas/CaptchaConfig'
              required:
                - lobby_id
  /lobbies/list:
    get:
      description: Lists all open lobbies.
      operationId: matchmaker_lobbies_list
      tags:
        - MatchmakerLobbies
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchmakerListLobbiesOutput'
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
  /players/connected:
    post:
      description: >
        Validates the player token is valid and has not already been consumed
        then

        marks the player as connected.

        # Player Tokens and Reserved Slots

        Player tokens reserve a spot in the lobby until they expire. This allows
        for

        precise matchmaking up to exactly the lobby's player limit, which is

        important for games with small lobbies and a high influx of players.

        By calling this endpoint with the player token, the player's spot is
        marked

        as connected and will not expire. If this endpoint is never called, the

        player's token will expire and this spot will be filled by another
        player.

        # Anti-Botting

        Player tokens are only issued by caling `lobbies.join`, calling
        `lobbies.find`, or

        from the `GlobalEventMatchmakerLobbyJoin` event.

        These endpoints have anti-botting measures (i.e. enforcing max player

        limits, captchas, and detecting bots), so valid player tokens provide
        some

        confidence that the player is not a bot.

        Therefore, it's important to make sure the token is valid by waiting for

        this endpoint to return OK before allowing the connected socket to do

        anything else. If this endpoint returns an error, the socket should be

        disconnected immediately.

        # How to Transmit the Player Token

        The client is responsible for acquiring the player token by caling

        `lobbies.join`, calling `lobbies.find`, or from the
        `GlobalEventMatchmakerLobbyJoin`

        event.  Beyond that, it's up to the developer how the player token is

        transmitted to the lobby.

        If using WebSockets, the player token can be transmitted as a query

        parameter.

        Otherwise, the player token will likely be automatically sent by the
        client

        once the socket opens. As mentioned above, nothing else should happen
        until

        the player token is validated.
      operationId: matchmaker_players_connected
      tags:
        - MatchmakerPlayers
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_token:
                  type: string
              required:
                - player_token
  /players/disconnected:
    post:
      description: >-
        Marks a player as disconnected. # Ghost Players If players are not
        marked as disconnected, lobbies will result with "ghost players" that
        the matchmaker thinks exist but are no longer connected to the lobby.
      operationId: matchmaker_players_disconnected
      tags:
        - MatchmakerPlayers
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_token:
                  type: string
              required:
                - player_token
  /regions:
    get:
      description: >
        Returns a list of regions available to this namespace.

        Regions are sorted by most optimal to least optimal. The player's IP
        address

        is used to calculate the regions' optimality.
      operationId: matchmaker_regions_list
      tags:
        - MatchmakerRegions
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchmakerListRegionsOutput'
      servers:
        - url: https://matchmaker.api.rivet.gg/v1
      security: *ref_0
  /parties/self/activity/matchmaker/lobbies/find:
    post:
      description: >-
        Attempts to make the current identity's party find a lobby based on the
        given criteria. If succeeds, all party members will receive a
        `GlobalEventMatchmakerLobbyJoin` event with all the information required
        to join the lobby. This request will use the party player count
        configured for the lobby group. See `FindLobby`.
      operationId: party_activity_matchmaker_findLobbyForParty
      tags:
        - PartyActivityMatchmaker
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PartyActivityFindMatchmakerLobbyForPartyInput
  /parties/self/activity/matchmaker/lobbies/join:
    post:
      description: >-
        Attempts to make the current identity's party join a specific matchmaker
        lobby. This request will use the party player count configured for the
        lobby group. If succeeds, all party members will receive a
        `GlobalEventMatchmakerLobbyJoin` event with all the information required
        to join the lobby. Identity must be the party leader. See `JoinLobby`.
      operationId: party_activity_matchmaker_joinLobbyForParty
      tags:
        - PartyActivityMatchmaker
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PartyActivityJoinMatchmakerLobbyForPartyInput
  /parties/self/members/self/matchmaker/request-player:
    post:
      operationId: party_activity_matchmaker_requestPlayer
      tags:
        - PartyActivityMatchmaker
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /invites:
    get:
      description: Fetches a party based on a given invite.
      operationId: party_parties_getFromInvite
      tags:
        - PartyParties
      parameters:
        - name: token
          in: query
          description: See `rivet.api.party#CreatedInvite$token`.
          required: false
          schema:
            type: string
        - name: alias
          in: query
          description: >-
            An alias used to join a given party. This alias must be unique for
            all invites for your game. Pass this alias to
            `rivet.api.party.common#CreatedInvite$alias` to consume the invite.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyGetInviteOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties:
    post:
      description: Creates a new party.
      operationId: party_parties_create
      tags:
        - PartyParties
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyCreateOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartyCreateInput'
  /parties/join:
    post:
      description: Joins a party using a given party invite.
      operationId: party_parties_join
      tags:
        - PartyParties
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyJoinOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartyJoinInput'
  /parties/self/invites:
    post:
      description: |-
        Creates a new party invite for the current identity's party.
        Identity must be the party leader.
      operationId: party_parties_createInvite
      tags:
        - PartyParties
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyCreateInviteOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartyCreateInviteInput'
  /parties/self/invites/{invite_id}:
    delete:
      description: |-
        Revokes a party invite from the current identity's party.
        Identity must be the party leader.
      operationId: party_parties_revokeInvite
      tags:
        - PartyParties
      parameters:
        - name: invite_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/self/leave:
    post:
      description: Leaves the current identity's party.
      operationId: party_parties_leave
      tags:
        - PartyParties
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/self/members/{identity_id}/kick:
    post:
      description: |-
        Kicks a member from the current identity's current party.
        Identity must be the party leader.
      operationId: party_parties_kickMember
      tags:
        - PartyParties
      parameters:
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/self/members/{identity_id}/transfer-ownership:
    post:
      description: |-
        Transfers ownership of the party to another party member.
        Identity must be the party leader.
      operationId: party_parties_transferOwnership
      tags:
        - PartyParties
      parameters:
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/self/profile:
    get:
      description: >-
        Returns a party profile for the party the current identity is a member
        of.
      operationId: party_parties_getSelfProfile
      tags:
        - PartyParties
      parameters:
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyGetSelfProfileOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/self/publicity:
    put:
      description: |-
        Sets the publicity of a party.
        This configures who can view and join the party.
        Identity must be the party leader.
      operationId: party_parties_setPublicity
      tags:
        - PartyParties
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartySetPublicityInput'
  /parties/self/summary:
    get:
      description: >-
        Returns a party summary for the party the current identity is a member
        of.
      operationId: party_parties_getSelfSummary
      tags:
        - PartyParties
      parameters:
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyGetSelfSummaryOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/{party_id}/join-request/send:
    post:
      operationId: party_parties_sendJoinRequest
      tags:
        - PartyParties
      parameters:
        - name: party_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/{party_id}/profile:
    get:
      description: Returns a party profile.
      operationId: party_parties_getProfile
      tags:
        - PartyParties
      parameters:
        - name: party_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyGetProfileOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /parties/{party_id}/summary:
    get:
      description: Returns a party summary.
      operationId: party_parties_getSummary
      tags:
        - PartyParties
      parameters:
        - name: party_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyGetSummaryOutput'
      servers:
        - url: https://party.api.rivet.gg/v1
      security: *ref_0
  /messages:
    post:
      description: Sends a chat message to a given topic.
      operationId: chat_sendMessage
      tags:
        - Chat
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSendMessageOutput'
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSendMessageInput'
  /threads/{thread_id}/history:
    get:
      description: |-
        Returns message history for a given thread in a certain direction.
        Defaults to querying messages before ts.
      operationId: chat_getThreadHistory
      tags:
        - Chat
      parameters:
        - name: thread_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: ts
          in: query
          description: RFC3339 timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: count
          in: query
          description: >-
            How many messages to collect in each direction. If querying
            `rivet.api.chat.common#QueryDirection$before_and_after`,
            `rivet.api.chat.common#QueryDirection$chat_messages` will be `count
            * 2`.
          required: true
          schema:
            type: number
            format: double
        - name: query_direction
          in: query
          description: >-
            Represents which direction to query messages from relative to the
            given timestamp.
          required: false
          schema:
            $ref: '#/components/schemas/ChatQueryDirection'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGetThreadHistoryOutput'
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
  /threads/{thread_id}/live:
    get:
      description: |-
        Fetches all relevant changes from a thread that have happened since the
        given watch index.
      operationId: chat_watchThread
      tags:
        - Chat
      parameters:
        - name: thread_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatWatchThreadOutput'
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
  /threads/{thread_id}/read:
    post:
      description: Updates the current identity's last read timestamp in the given thread.
      operationId: chat_setThreadRead
      tags:
        - Chat
      parameters:
        - name: thread_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSetThreadReadInput'
  /threads/{thread_id}/topic:
    get:
      description: Fetches the topic of a thread.
      operationId: chat_getThreadTopic
      tags:
        - Chat
      parameters:
        - name: thread_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatGetThreadTopicOutput'
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
  /threads/{thread_id}/typing-status:
    put:
      description: Updates the current identity's typing status in the given thread.
      operationId: chat_setTypingStatus
      tags:
        - Chat
      parameters:
        - name: thread_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://chat.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSetTypingStatusInput'
  /games/{game_id}/namespaces:
    post:
      description: Creates a new namespace for the given game.
      operationId: cloud_games_namespaces_createGameNamespace
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesCreateGameNamespaceOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesCreateGameNamespaceInput
  /games/{game_id}/namespaces/validate:
    post:
      description: Validates information used to create a new game namespace.
      operationId: cloud_games_namespaces_validateGameNamespace
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesValidateGameNamespaceOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesValidateGameNamespaceInput
  /games/{game_id}/namespaces/{namespace_id}:
    get:
      description: Gets a game namespace by namespace ID.
      operationId: cloud_games_namespaces_getGameNamespaceById
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesGetGameNamespaceByIdOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/auth-user:
    post:
      description: Adds an authenticated user to the given game namespace.
      operationId: cloud_games_namespaces_updateNamespaceCdnAuthUser
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesUpdateNamespaceCdnAuthUserInput
  /games/{game_id}/namespaces/{namespace_id}/auth-user/{user}:
    delete:
      description: Removes an authenticated user from the given game namespace.
      operationId: cloud_games_namespaces_removeNamespaceCdnAuthUser
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: user
          in: path
          description: A user name.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/cdn-auth:
    put:
      description: Updates the CDN authentication type of the given game namesapce.
      operationId: cloud_games_namespaces_setNamespaceCdnAuthType
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesSetNamespaceCdnAuthTypeInput
  /games/{game_id}/namespaces/{namespace_id}/domain-public-auth:
    put:
      description: >-
        Toggles whether or not to allow authentication based on domain for the
        given game namesapce.
      operationId: cloud_games_namespaces_toggleNamespaceDomainPublicAuth
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesToggleNamespaceDomainPublicAuthInput
  /games/{game_id}/namespaces/{namespace_id}/domains:
    post:
      description: Adds a domain to the given game namespace.
      operationId: cloud_games_namespaces_addNamespaceDomain
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudGamesNamespacesAddNamespaceDomainInput'
  /games/{game_id}/namespaces/{namespace_id}/domains/{domain}:
    delete:
      description: Removes a domain from the given game namespace.
      operationId: cloud_games_namespaces_removeNamespaceDomain
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: domain
          in: path
          description: A valid domain name (no protocol).
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/mm-config:
    post:
      description: Updates matchmaker config for the given game namespace.
      operationId: cloud_games_namespaces_updateGameNamespaceMatchmakerConfig
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesUpdateGameNamespaceMatchmakerConfigInput
  /games/{game_id}/namespaces/{namespace_id}/mm-config/validate:
    post:
      description: >-
        Validates information used to update a game namespace's matchmaker
        config.
      operationId: cloud_games_namespaces_validateGameNamespaceMatchmakerConfig
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesValidateGameNamespaceMatchmakerConfigOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesValidateGameNamespaceMatchmakerConfigInput
  /games/{game_id}/namespaces/{namespace_id}/tokens/development:
    post:
      description: Creates a development token for the given namespace.
      operationId: cloud_games_namespaces_createGameNamespaceTokenDevelopment
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesCreateGameNamespaceTokenDevelopmentOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesCreateGameNamespaceTokenDevelopmentInput
  /games/{game_id}/namespaces/{namespace_id}/tokens/development/validate:
    post:
      description: >-
        Validates information used to create a new game namespace development
        token.
      operationId: cloud_games_namespaces_validateGameNamespaceTokenDevelopment
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesValidateGameNamespaceTokenDevelopmentOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesValidateGameNamespaceTokenDevelopmentInput
  /games/{game_id}/namespaces/{namespace_id}/tokens/public:
    post:
      description: Creates a public token for the given namespace.
      operationId: cloud_games_namespaces_createGameNamespaceTokenPublic
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CloudGamesNamespacesCreateGameNamespaceTokenPublicOutput
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
  /games/{game_id}/namespaces/{namespace_id}/version:
    put:
      description: Updates the version of a game namespace.
      operationId: cloud_games_namespaces_updateGameNamespaceVersion
      tags:
        - CloudGamesNamespaces
      parameters:
        - name: game_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: namespace_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://cloud.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CloudGamesNamespacesUpdateGameNamespaceVersionInput
  /groups:
    get:
      description: Returns a list of suggested groups.
      operationId: group_listSuggested
      tags:
        - Group
      parameters:
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListSuggestedOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
    post:
      description: Creates a new group.
      operationId: group_create
      tags:
        - Group
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreateOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateInput'
  /groups/avatar-upload/prepare:
    post:
      description: |-
        Prepares an avatar image upload.
        Complete upload with `rivet.api.group#CompleteAvatarUpload`.
      operationId: group_prepareAvatarUpload
      tags:
        - Group
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPrepareAvatarUploadOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPrepareAvatarUploadInput'
  /groups/profile/validate:
    post:
      description: >-
        Validate contents of group profile. Use to provide immediate feedback on
        profile changes before committing them.
      operationId: group_validateProfile
      tags:
        - Group
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupValidateProfileOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupValidateProfileInput'
  /groups/search:
    get:
      description: Fuzzy search for groups.
      operationId: group_search
      tags:
        - Group
      parameters:
        - name: query
          in: query
          description: The query to match group display names against.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Unsigned 32 bit integer.
          required: false
          schema:
            type: number
            format: double
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearchOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/avatar-upload/{upload_id}/complete:
    post:
      description: |-
        Completes an avatar image upload. Must be called after the file upload
        process completes.
        Call `rivet.api.group#PrepareAvatarUpload` first.
      operationId: group_completeAvatarUpload
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: upload_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/bans:
    get:
      description: Returns a group's bans. Must have valid permissions to view.
      operationId: group_getBans
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          description: >-
            The pagination anchor. Set to the returned anchor of this endpoint
            to receive the next set of items.
          required: false
          schema:
            type: string
        - name: count
          in: query
          description: Amount of bans to return.
          required: false
          schema:
            type: number
            format: double
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetBansOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/bans/{identity_id}:
    post:
      description: >-
        Bans an identity from a group. Must be the owner of the group to perform
        this action. The banned identity will no longer be able to create a join
        request or use a group invite.
      operationId: group_banIdentity
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
    delete:
      description: >-
        Unbans an identity from a group. Must be the owner of the group to
        perform this action.
      operationId: group_unbanIdentity
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/join-requests:
    get:
      description: Returns a group's join requests. Must have valid permissions to view.
      operationId: group_getJoinRequests
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          description: >-
            The pagination anchor. Set to the returned anchor of this endpoint
            to receive the next set of items.
          required: false
          schema:
            type: string
        - name: count
          in: query
          description: Amount of join requests to return.
          required: false
          schema:
            type: number
            format: double
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetJoinRequestsOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/kick/{identity_id}:
    post:
      description: >-
        Kicks an identity from a group. Must be the owner of the group to
        perform this action.
      operationId: group_kickMember
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: identity_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/leave:
    post:
      description: Leaves a group.
      operationId: group_leave
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/members:
    get:
      description: Returns a group's members.
      operationId: group_getMembers
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          description: >-
            The pagination anchor. Set to the returned anchor of this endpoint
            to receive the next set of items.
          required: false
          schema:
            type: string
        - name: count
          in: query
          description: Amount of members to return.
          required: false
          schema:
            type: number
            format: double
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetMembersOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/profile:
    get:
      description: Returns a group profile.
      operationId: group_getProfile
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
        - name: watch_index
          in: query
          description: A query parameter denoting the requests watch index.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetProfileOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
    post:
      operationId: group_updateProfile
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateProfileInput'
  /groups/{group_id}/summary:
    get:
      operationId: group_getSummary
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupGetSummaryOutput'
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
  /groups/{group_id}/transfer-owner:
    post:
      description: Transfers ownership of a group to another identity.
      operationId: group_transferOwnership
      tags:
        - Group
      parameters:
        - name: group_id
          in: path
          description: A universally unique identifier.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      servers:
        - url: https://group.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupTransferOwnershipInput'
  /identities:
    post:
      description: >-
        Gets or creates an identity.

        Passing an existing identity token in the body refreshes the token.

        Temporary Accounts

        Until the identity is linked with the Rivet Hub (see `PrepareGameLink`),
        this identity will be temporary but still behave like all other
        identities.

        This is intended to allow users to play the game without signing up
        while still having the benefits of having an account. When they are
        ready to save their account, they should be instructed to link their
        account (see `PrepareGameLink`).

        Storing Token

        `identity_token` should be stored in some form of persistent storage.
        The token should be read from storage and passed to `Setup` every time
        the client starts.
      operationId: identity_setup
      tags:
        - Identity
      parameters:
        - name: identity_link_token
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Jwt'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentitySetupOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /identities/{identity_id}/profile:
    get:
      description: Fetches an identity profile.
      operationId: identity_getProfile
      tags:
        - Identity
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: watch_index
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WatchQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetProfileOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /identities/self/profile:
    get:
      description: Fetches the current identity's profile.
      operationId: identity_getSelfProfile
      tags:
        - Identity
      parameters:
        - name: watch_index
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WatchQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetProfileOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
    post:
      description: Updates profile of the current identity.
      operationId: identity_updateProfile
      tags:
        - Identity
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  $ref: '#/components/schemas/DisplayName'
                account_number:
                  $ref: '#/components/schemas/AccountNumber'
                bio:
                  $ref: '#/components/schemas/Bio'
  /identities/batch/handle:
    get:
      description: Fetches a list of identity handles.
      operationId: identity_getHandles
      tags:
        - Identity
      parameters:
        - name: identity_ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetHandlesOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /identities/batch/summary:
    get:
      description: Fetches a list of identity summaries.
      operationId: identity_getSummaries
      tags:
        - Identity
      parameters:
        - name: identity_ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityGetSummariesOutput'
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
  /identities/self/profile/validate:
    post:
      description: >-
        Validate contents of identity profile. Use to provide immediate feedback
        on profile changes before committing them.
      operationId: identity_validateProfile
      tags:
        - Identity
      parameters: []
      responses:
        '204':
          description: ''
      servers:
        - url: https://identity.api.rivet.gg/v1
      security: *ref_0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  $ref: '#/components/schemas/DisplayName'
                account_number:
                  $ref: '#/components/schemas/AccountNumber'
                bio:
                  $ref: '#/components/schemas/Bio'
  /identities/search:
    get:
      description: Fuzzy search for identities.
      operationId: identity_search
      tags:
        - Identity
      parameters:
        - name: query
          in: query
          description: >-
            The query to match identity display names and account numbers
            against.
          required: true
          schema:
            type: string
        - name: anchor
          in: query
          description: How many identities to offset the search by.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Amount of identities to return. Must be between 1 and 32 inclusive.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
[...]
